########################
# global ignore file
########################

#
# Ignore temporary files (left by editors and OS)
.DS_Store

#
# Ignore by common IDEs used directories/files
*.idea

#
# Temporary files and folders
.php_cs.cache
.phpunit.result.cache
/temporary
/artifacts

#
# Ignore composer stuff
/bin/*
/vendor/*

